* {
	font-size: 12px;
	padding: 0px;
	margin: 0px;
}

body {
	font-family: "宋体", helvetica, tahoma, verdana, sans-serif;
	font-size: 13px;
	margin: 0;
}

/**button**/
a.button,a.button_disabled {
	-moz-user-select: none;
	padding: 0 5px;
	/**  background-color:#E4E4E4;**/
	border: 1px solid transparent;
	display: block;
	float: left;
	font-size: 14px;
	height: 22px;
	position: relative;
	text-decoration: none;
	cursor: pointer;
}

a.button span,a.button_disabled span {
	line-height: 22px;
	padding-left: 25px;
	height: 22px;
	display: block;
}

a.button_disabled {
	color: #aaa;
	cursor: default;
	opacity: 0.3;
}

/** .button:hover {
    background-color: #D4D4D4;
    border-color: #222222;
}**/
a:hover.button {
	border: 1px solid #7eabcd;
	background: url('images/button_plain_hover.png') repeat-x left bottom;
	_padding: 0px 5px 0px 0px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.cs2c_searchbox {
	border: 1px solid #A4BED4;
	margin: 3px;
	height: 18px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background: url(images/searchbox_button.png) right center no-repeat #FFF;
	padding-right: 20px;
	width: 140px
}

.tool_separator {
	float: left;
	height: 21px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 3px;
}

.searchbox-searchlist {
	background: #eae9eb;
	width: 153px;
	max-height: 250px;
	position: relative;
	z-index: 1000;
	border: 1px solid #c0c0c0;
	overflow-y: auto;
	overflow-x: hidden;
}

.searchbox-searchlist div { /*height: 25px;*/
	padding-left: 3px;
	line-height: 25px
}

.highlight {
	background: #85a2c8;
	cursor: pointer;
}

.search-box {
	display: none;
	position: absolute;
}

/*table*/
.cs2c_datagrid {
	overflow: hidden;
	border: 1px solid #99BBE8;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.85);
}

.datagrid_wrap {
	overflow: hidden
}

.datagrid_mask {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ccc;
	opacity: 0.3;
	filter: alpha(opacity = 30);
	display: none;
}

.datagrid_mask_msg {
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: auto;
	height: 16px;
	padding: 12px 5px 10px 30px;
	background: #fff url('images/pagination_loading.gif') no-repeat scroll
		5px 10px;
	border: 2px solid #6593CF;
	color: #222;
	display: none;
}

.datagrid_sort_icon {
	padding: 2px 0px 3px 0px;
}

.datagrid_toolbar {
	height: 27px;
	background: #efefef;
	padding: 3px 2px 0 2px;
	border-bottom: 1px solid #ccc;
}

.datagrid_btn_separator {
	float: left;
	height: 24px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 2px 1px;
}

.datagrid_header {
	overflow: hidden;
	background: #fafafa url('images/datagrid_header_bg.gif') repeat-x left
		bottom;
	border-bottom: 1px solid #ccc;
	cursor: default;
}

.datagrid_header th {
	border-right: 1px dotted #ccc;
	font-size: 12px;
	font-weight: normal;
	background: #fafafa url('images/datagrid_header_bg.gif') repeat-x left
		bottom;
	border-bottom: 1px dotted #ccc;
	border-top: 1px dotted #fff;
	height: 25px;
	line-height: 25px;
}

.datagrid_header th.datagrid_over {
	background: #EBF3FD;
}

.datagrid_header .datagrid_cell {
	margin: 0;
	padding: 3px 4px;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
	text-align: center;
}

.datagrid_cell_code {
	width: 30px;
	text-align: center;
}

.datagrid_body .datagrid_cell_code {
	background: #fafafa url('images/datagrid_header_bg.gif') repeat-x left
		bottom;
}

.datagrid_body {
	overflow: hidden;
}

.datagrid_body td {
	font-size: 12px;
	border-right: 1px dotted #ccc;
	border-bottom: 1px dotted #ccc;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 25px;
	line-height: 25px;
	text-align: center;
}

.datagrid_body .datagrid_cell {
	overflow: hidden;
	margin: 0;
	padding: 0px 4px;
	white-space: nowrap;
	word-wrap: normal;
	height: 18px;
	line-height: 18px;
}

.datagrid_row_editing .datagrid_cell {
	height: auto;
}

.datagrid_header_check,.datagrid_cell_check {
	padding: 0;
	width: 27px;
	height: 18px;
	font-size: 1px;
	text-align: center;
	overflow: hidden;
}

.datagrid_header_check input,.datagrid_cell_check input {
	margin: 0;
	padding: 0;
	width: 15px;
	height: 18px;
}

.datagrid_row_collapse {
	background: url('images/datagrid_row_collapse.gif') no-repeat center
		center;
}

.datagrid_row_expand {
	background: url('images/datagrid_row_expand.gif') no-repeat center
		center;
}

.datagrid_row_alt {
	background: #EEEEFF;
}

.datagrid_row_even {
	background: #EEEEFF;
}

.datagrid_body .datagrid_over {
	background: #D0E5F5;
}

.datagrid_row_selected {
	background: #FBEC88;
}

.datagrid_resize_proxy {
	position: absolute;
	width: 1px;
	top: 0;
	height: 10000px;
	background: red;
	cursor: e-resize;
	display: none;
}

.datagrid_body .datagrid_editable {
	padding: 0;
}

.datagrid_body .datagrid_editable table {
	width: 100%;
	height: 100%;
}

.datagrid_body .datagrid_editable td {
	border: 0;
	padding: 0;
}

.datagrid_body .datagrid_editable .datagrid_editable_input {
	width: 100%;
	font-size: 12px;
	border: 1px solid #A4BED4;
	padding: 3px 2px;
}

/*分页*/
.datagrid_pager {
	background: #efefef;
	border-top: 1px solid #ccc;
	overflow: hidden
}

.pager_left {
	float: left;
	overflow: hidden;
	padding-top: 8px;
}

a.pager_btn {
	margin-top: 6px;
	float: left;
	width: 20px;
	height: 20px;
	display: block;
	border: 1px solid transparent
}

a.pager_btn span {
	width: 20px;
	height: 20px;
	display: block
}

.datagrid_pager a.disabled {
	color: #ccc;
	opacity: 0.5;
	filter: alpha(opacity = 50);
	cursor: default;
}

.datagrid_pager a.clickabled {
	cursor: pointer;
}

.datagrid_pager a:hover.clickabled {
	border: 1px solid #7eabcd;
	background: url('images/button_plain_hover.png') repeat-x left bottom;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.datagrid_pager table {
	float: left;
	height: 30px;
}

.pager_separator {
	float: left;
	height: 24px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 3px 1px;
}

.pager_num {
	border: 1px solid #ccc;
	margin: 0 2px;
}

.pager_list {
	margin: 0px 6px;
}

.pager_info {
	float: right;
	padding-right: 6px;
	padding-top: 8px;
	font-size: 12px;
}

.datagrid_pager span {
	font-size: 12px;
}

.pager_first {
	background: url('/static/images/pagination_first.gif') center no-repeat;
}

.pager_prev {
	background: url('/static/images/pagination_prev.gif') center no-repeat;
}

.pager_next {
	background: url('/static/images/pagination_next.gif') center no-repeat;
}

.pager_last {
	background: url('/static/images/pagination_last.gif') center no-repeat;
}

.pager_load {
	background: url('/static/images/pagination_load.png') center no-repeat;
}

.pager_loading {
	background: url('/static/images/pagination_loading.gif') center
		no-repeat;
}

p,div {
	padding: 0;
	margin: 0;
}

li {
	list-style: none outside none;
	width: 500px;
	float: left;
}

.cs2c_dialog_body .validate_tip {
	position: fixed;
	border: 1px solid #ccc;
	padding: 5px;
	margin-left: 7px;
	z-index: 1000;
	background: white;
	max-width: 200px;
	word-break: keep-all;
	word-wrap: break-word;
	display: none;
}

.validate_tip {
	position: absolute;
	border: 1px solid #ccc;
	padding: 5px;
	margin-left: 7px;
	z-index: 1000;
	background: white;
	max-width: 200px;
	word-break: keep-all;
	word-wrap: break-word;
	display: none;
}

.validate_tip_arrow_border {
	border-color: transparent black;
	border-style: solid;
	border-width: 6px 6px 6px 0;
	position: absolute;
	height: 0;
	width: 0;
	top: 2px;
	left: -5px;
}

.validate_tip_arrow {
	border-color: transparent white;
	border-style: solid;
	border-width: 6px 6px 6px 0;
	position: absolute;
	top: 2px;
	left: -5px;
}
